<html>
    <head>
        <title>Registration</title>
    </head>
<body>
    <form action="/home.html">
         First Name <input type = "text" name="First name" placeholder="First Name" required>
         Last Name <input type = "text" name="Last name" placeholder="Last Name" required>
         emailID<input type = "text" name="emailID" placeholder="Email address" required>
         Password<input type = "password" name="Password" placeholder="Password" required>
         Confirm Password<input type = "password" name="Password" placeholder="Confirm Password" required>
         <button>Save</button><button type="Submit">Submit</button>
    </form>
</body>
</html>
