<html>
    <head>
        <title>Registration</title>
    </head>
<body>
    <form action="/home.html">
         First Name <input type = "text" name="First name" placeholder="First Name">
         Last Name <input type = "text" name="Last name" placeholder="Last Name">
         Address <input type = "text" name="Address" placeholder="Address">
         Phone<input type = "text" name="Phone" placeholder="Phone Number">
         <button>Save</button><button type="Submit" name="Submit" value ="Submit"></button>
    </form>
</body>
</html>
